<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfc.ind.mapper.malluser.MallUserAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dfc.ind.entity.malluser.MallUserAddressEntity">
        <id column="adr_id" property="adrId" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="detail" property="detail" />
        <result column="post_code" property="postCode" />
        <result column="id_default" property="idDefault" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        adr_id, user_id, real_name, phone_number, detail, post_code, id_default, create_by, create_time, update_by, update_time, remark
    </sql>



</mapper>
